body{
    margin:0px;
    background-color: #333;
    font-family:"Castoro";
    color:white;
}
.container{
   display:flex;
   justify-content:space-between;
   flex-wrap:wrap;
   padding:10px 0px 50px 0px; 
}
.item{
    margin:30px 40px;
    width:calc(33.333% - 80px);
}
.item--image{
    width:100%;
    height:170px;
    background-color:#222;
}
.item--title{
    font-size:25px;
    margin: 10px 0px 0px 0px;
}
.item--description{
    font-size:16px;
}
.screen{
    width:100%;
    min-height:100vh;
    min-height:-moz-available;          /* WebKit-based browsers will ignore this. */
    min-height:-webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height:fill-available;
    background-image:radial-gradient(#555 1px, rgba(0, 0, 0, 0) 1px);
    background-size:25px 25px;
}
.footer--content{
    padding:50px 15%;
}
.footer--link{
    color:white;
}
.background{
    background-image:radial-gradient(#555 1px, rgba(0, 0, 0, 0) 1px), url("background.jpg");
    background-size:25px 25px, cover;
}
.content{
    width:70%;
    padding:0px 15%;
}
.content--start{
    padding-top:calc(50vh - 125px);
    height:220px;
}
.content--portfolio{
    /* padding:0px 15%; */
}
.nav{
    display:flex;
    justify-content:flex-start;
    position:absolute;
    top:0px;
}
.nav--left{
    visibility:hidden;
    left:10px;
    margin:25px;
}
.nav--center{
    margin:28px calc(50% - 25px);
}
.nav--right{
    right:0px;
    margin:25px;
}
.nav--link{
    color:white;
    padding:0px;
    text-decoration:none;
    font-family:"Texturina", sans-serif;
    font-size:18px;
    margin: 14px 17px;
}
.nav--icon{
    padding:0px;
    width:33px;
    height:33px;
}
.nav--link--lang{
    cursor:pointer;
    margin: 10px 17px;
}
.nav--link--lang--icon{
    width:43px;
    height:43px;    
}
.nav--logo{
    color:white;
    width:50px;
    height:50px;
}
.langmenu{
    visibility:hidden;
    opacity:0;
    position:absolute;
    right:35px;
    top:103px;
    background-color:white;
    padding:30px 50px;
    border-radius:10px;
    transition: visibility 100ms, opacity 100ms;
}
.langmenu--active{
    visibility: visible;
    opacity:1;
}
.langmenu-link{
    font-size:23px;
    margin:15px 10px;
    display:block;
    color:black;
    text-decoration:none;
}
.title{
    font-family:"Texturina";
    font-size:50px;
    padding:30px 0px 0px 40px;   
}
.title--start{
    font-size:60px;
    margin:0px 0px 0px 0px;
    padding:0px;
}
.subtitle{
    text-align:left;
    font-size:20px;
    font-family:"Castoro";
    padding:0px 0px 23px 0px;
    margin:0px;
}
.subtitle--link{
    color:white;
}

.icon--downarrow--link{
    margin:20px calc(50% - 75px);
    position:absolute;
    bottom:0px;
    text-align:center;
    width:150px; 
    font-size:20px;
    font-family:"Lato";
    text-decoration:none;
    color:white;  
}
.icon--downarrow{
    margin-top:13px;
    width:45px;
    height:45px;
}
.tag--container{
    display:flex;
    justify-content:flex-start;
}
.tag{
    background-color: white;
    border-radius:8px;
    padding:12px;
    margin-right:20px;
}
.tag--icon{
    color:black;
    width:24px;
    height:24px;
    top:3px;
    left:3px;
    position:relative;
}
.tag--text{
    color:black;
    margin:0px 6px 0px 10px;
    padding-bottom:3px;
    font-family:"Lato";
    font-size: 16px;
    font-weight:500;
    position:relative;
    top:0.5px
}

/* @media screen and (min-width:1000px) and (max-width:1300px) {} */

@media only screen and (hover: none) and (pointer: coarse){
    .background{
        background-size:40px 40px, cover;
    }
    .content{
        width: calc(100% - 200px);
        padding:100px;
    }
    .content--start{
        height:400px;
        padding:calc((-webkit-fill-available / 2) - 200px) 100px;
    }
    .title--start{
        font-size:90px;
    }
    .subtitle{
        font-size:40px;
    }
    .tag{
        border-radius:14px;
        padding:24px 20px;
        margin-right:40px;
    }
    .tag--icon{
        width:38px;
        height:38px;
        top:12px;
        left:3px;
    }
    .tag--text{
        margin:0px 12px 0px 20px;
        font-size: 30px;
        top:5px
    }
    .nav--left{
        visibility:visible;
        left:20px;
        margin:50px;
    }
    .nav--center{
        visibility:hidden;
    }
    .nav--right{
        margin:40px 35px;
    }
    .nav--link{
        margin: 28px 34px;
    }
    .nav--icon{
        width:66px;
        height:66px;
    }
    .nav--link--lang{
        margin: 20px 34px;
    }
    .nav--link--lang--icon{
        width:86px;
        height:86px;
    }
    .nav--logo{
        width:100px;
        height:100px;
    }
    .icon--downarrow--link{
        margin:40px calc(50% - 150px);
        width:300px; 
        font-size:40px;
    }
    .icon--downarrow{
        margin-top:26px;
        width:90px;
        height:90px;
    }
}