body{
    margin:0px;
    background-color: #222;
    font-family:"Castoro";
    color:white;
}
.container{
   display:flex;
   justify-content:space-between;
   flex-wrap:wrap;
   padding:60px 0px 50px 0px; 
}
.item{
    margin:80px 0px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.item--reverse{
    flex-direction:row-reverse;
}
.item--image{
    width:350px;
    height:197px;
    background-color:#333;
}
.item--text{
    margin:0px 40px 0px 40px;
    width:430px;
    display:inline-block;
    text-align:left;
    font-size:18px;
}
.item--text--reverse{
    text-align:right;
}
.item--title{
    font-size:30px;
    margin: 10px 0px 0px 0px;
}
.item--description{
    font-size:18px;
}
.screen{
    width:100%;
    min-height:100vh;
    min-height:-moz-available;          /* WebKit-based browsers will ignore this. */
    min-height:-webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height:fill-available;
}
.footer--content{
    padding:0px 15% 80px 15%;
    text-align:center;
    font-size:18px;
}
.footer--link{
    color:white;
}
.screen--start{
    background-image:radial-gradient(#555 1px, rgba(0, 0, 0, 0) 1px), url("background.jpg");
    background-size:25px 25px, cover;
    display:flex;
    align-items:center;
}
.screen--portfolio{
    background-image:radial-gradient(#555 1px, rgba(0, 0, 0, 0) 1px);
    background-size:25px 25px;
}
.content{
    width:70%;
    padding:0px 15%;
}
.content--start{
}
.content--portfolio{
    padding:0px 15%;
    display: inline-block;
}
.nav{
    display:flex;
    justify-content:flex-start;
    position:absolute;
    top:0px;
}
.nav--left{
    visibility:hidden;
    left:10px;
    margin:25px;
}
.nav--center{
    margin:25px calc(50% - 75px);
    width:150px;
    justify-content:center;
}
.nav--right{
    right:0px;
    margin:25px;
}
.nav--link{
    color:white;
    padding:0px;
    text-decoration:none;
    font-family:"Texturina", sans-serif;
    font-size:18px;
    margin: 14px 17px;
}
.nav--icon{
    padding:0px;
    width:35px;
    height:35px;
}
.nav--link--lang{
    cursor:pointer;
    margin: 10px 17px;
    background-color:rgba(0, 0, 0, 0);
    border:none;  
}
.nav--link--lang--icon{
    width:43px;
    height:43px;
   
     
}
.nav--logo{
    color:white;
    width:50px;
    height:50px;
}
.langmenu{
    visibility:hidden;
    opacity:0;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100vh;
    height:-moz-available;          /* WebKit-based browsers will ignore this. */
    height:-webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height:fill-available;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.6)
}
.langmenu--active{
    visibility: visible;
    opacity:1;
}
.langmenu--content{
    background-color:white;
    padding:30px;
    border-radius:10px;
}
.langmenu--close--container{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.langmenu--close{
    margin:0px;
    padding:0px;
    border:none;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    cursor:pointer;
}
.langmenu--close--icon{
    width:40px;
    height:40px;
}
.langmenu--link{
    font-size:25px;
    margin:20px 20px;
    display:block;
    color:black;
    text-decoration:none;
    margin-right:100px;
    margin-left:100px
}

.langmenu--link--active{
    font-weight:700;
    margin-left:0px;
}
.langmenu--link--active--icon{
    width:19px;
    height:19px;
    margin:0px 17px 0px 58px;
}
.title{
    font-family:"Texturina";
    font-size:50px;
    padding:30px 0px 0px 0px;   
}
.title--start{
    font-size:60px;
    margin:0px 0px 0px 0px;
    padding:0px;
}
.subtitle{
    text-align:left;
    font-size:20px;
    font-family:"Castoro";
    padding:0px 0px 23px 0px;
    margin:0px;
    max-width:700px;
}
.subtitle--link{
    color:white;
}

.icon--downarrow--link{
    margin:20px calc(50% - 75px);
    position:absolute;
    bottom:0px;
    text-align:center;
    width:150px; 
    font-size:20px;
    font-family:"Lato";
    text-decoration:none;
    color:white;  
}
.icon--downarrow{
    margin-top:13px;
    width:45px;
    height:45px;
}
.tag--container{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.tag{
    background-color: white;
    border-radius:8px;
    padding:10px;
    margin:0px 20px 20px 0px;
}
.tag--icon{
    color:black;
    width:24px;
    height:24px;
    top:2px;
    left:7px;
    position:relative;
}
.tag--text{
    color:black;
    margin:0px 10px 0px 16px;
    padding-bottom:3px;
    font-family:"Lato";
    font-size: 16px;
    font-weight:500;
    position:relative;
    bottom:3px
}

/* @media screen and (min-width:1000px) and (max-width:1300px) {} */

@media only screen and (hover: none) and (pointer: coarse){
    .background{
        background-size:50px 50px, cover;
    }
    .content{
        width: calc(100% - 150px);
        padding:0px 75px;
    }
    .title--start{
        font-size:90px;
    }
    .subtitle{
        font-size:35px;
        max-width:1000px;
    }
    .tag{
        border-radius:14px;
        padding:20px;
        margin:0px 30px 30px 0px;
    }
    .tag--icon{
        width:38px;
        height:38px;
        top:0px;
        left:10px;
    }
    .tag--text{
        margin:0px 18px 0px 28px;
        font-size: 30px;
        bottom:5px
    }
    .nav--left{
        visibility:visible;
        left:20px;
        margin:50px;
    }
    .nav--center{
        visibility:hidden;
    }
    .nav--right{
        margin:40px 35px;
    }
    .nav--link{
        margin: 28px 34px;
    }
    .nav--icon{
        width:66px;
        height:66px;
    }
    .nav--link--lang{
        margin: 20px 34px;
    }
    .nav--link--lang--icon{
        width:86px;
        height:86px;
    }
    .nav--logo{
        width:100px;
        height:100px;
    }
    .icon--downarrow--link{
        margin:40px calc(50% - 150px);
        width:300px; 
        font-size:40px;
    }
    .icon--downarrow{
        margin-top:26px;
        width:90px;
        height:90px;
    }
    .langmenu--content{
        background-color:white;
        padding:60px;
        border-radius:20px;
    }
    .langmenu--close--icon{
        width:70px;
        height:70px;
    }
    .langmenu--link{
        font-size:40px;
        margin:30px;
        margin-right:160px;
        margin-left:160px
    }
    .langmenu--link--active{
        margin-left:0px;
    }
    .langmenu--link--active--icon{
        width:30px;
        height:30px;
        margin:0px 40px 0px 81px;
    }
    .item{
        margin:80px 0px;
        width:100%;
        display:block;
        flex-direction:row;
        justify-content:center;
    }
    .item--reverse{
        flex-direction:row;
    }
    .item--image{
        width:100%;
        height:initial;
        background-color:#333;
    }
    .item--text{
        margin:20px 0px 20px 0px;
        width:100%;
        display:inline-block;
        text-align:left;
    }
    .item--text--reverse{
        text-align:left;
    }
    .item--title{
        font-size:50px;
        margin: 10px 0px 0px 0px;
    }
    .item--description{
        font-size:35px;
    }
    .footer--content{
        padding:0px 15% 80px 15%;
        text-align:center;
        font-size:30px;
    }
}